 <!-- Comments -->
          <div class="entry-comments mt-30">
            <div class="title-wrap mt-40">
              <h5 class="uppercase">3 comments</h5>
            </div>
            <ul class="comment-list">
              <li class="comment">  
                <div class="comment-body">
                  <div class="comment-text">
                    <h6 class="comment-author">Joeby Ragpa</h6>
                    <div class="comment-metadata">
                      <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>
                    </div>                      
                    <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                    <a href="#" class="comment-reply">Reply</a>
                  </div>
                </div>


             <% @post.comments.each do  |comment| %> 

                <ul class="children">
                  <li class="comment">
                    <div class="comment-body">
                      <div class="comment-text">
                        <h6 class="comment-author"><%= comment.user.first_name %>, <%= comment.user.last_name %></h6>
                        <div class="comment-metadata">
                          <a href="#" class="comment-date"><%= comment.created_at %></a>  
                        </div>                      
                        <p>
                         <%= comment.body %>
                        </p>
                        <%= link_to 'Delete', comment_path(comment.id, :post_id => @post.id),
                         data: {:confirm => 'Are you sure?'}, :method => :delete if current_user && policy(comment).destroy?  %>
                          <%= link_to 'Edit', edit_comment_path(comment.id, :post_id => @post.id) if current_user && policy(comment).edit?  %>
                        <a href="#" class="comment-reply">Reply</a>
                      </div>
                    </div>
                  </li> <!-- end reply comment -->
                </ul>

              </li> <!-- end 1-2 comment -->
              <% end %>
            </ul>         
          </div> 
<!-- end comments -->
