<!DOCTYPE html>
<html>
  <head>
    <title> Pasquin </title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
 <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>

 

  <!-- Favicons -->
  <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path("apple-touch-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path("apple-touch-icon-114x114.png") %>">

  </head>
 
  <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  
    
<body class="bg-light single-post">


  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>


  <!-- Nav Bar -->

  <%= render 'shared/nav' %>
  
  <!-- Renders Current Controller View -->

    <%= yield %>

  <!-- Footer -->
   
  <%= render 'shared/footer' %> 

    <!-- jQuery Scripts -->
    <script src="/assets/easing.min.js"></script>
    <script src="/assets/owl-carousel.min.js"></script>
<!--     <script src="/assets/twitterFetcher_min.js"></script> -->
    <script src="/assets/jquery.newsTicker.min.js"></script>  
    <script src="/assets/modernizr.min.js"></script>
    <script src="/assets/scripts.js"></script>
  </body>
</html>


